RitmeAddressbook/src/uz/ehealth/ritme/be/fgov/ehealth/addressbook/protocol/v1/AddressBook_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AddressBook" targetNamespace="urn:be:fgov:ehealth:addressbook:protocol:v1" xmlns="urn:be:fgov:ehealth:addressbook:protocol:v1" xmlns:addr="urn:be:fgov:ehealth:addressbook:protocol:v1" xmlns:err="urn:be:fgov:ehealth:errors:soa:v1" xmlns:mon="urn:be:fgov:ehealth:monitoring:protocol:v2" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>Version 1.1: initial version</wsdl:documentation>
  <wsp:Policy wsu:Id="SAML_HOK" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <sp:AsymmetricBinding>
      <wsp:Policy>
        <sp:InitiatorToken>
          <wsp:Policy>
            <!-- If the client framework supports sp:IssuedToken policy assertions, uncomment this block and comment the sp:SamlToken assertion -->
            <!-- <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"> -->
            <!-- <sp:RequestSecurityTokenTemplate /> -->
            <!-- <wsp:Policy /> -->
            <!-- </sp:IssuedToken> -->
            <sp:SamlToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV11Token10/>
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:InitiatorToken>
        <sp:RecipientToken>
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
              <wsp:Policy>
                <sp:WssX509V3Token10/>
              </wsp:Policy>
            </sp:X509Token>
          </wsp:Policy>
        </sp:RecipientToken>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic256/>
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax/>
          </wsp:Policy>
        </sp:Layout>
        <sp:IncludeTimestamp/>
        <sp:ProtectTokens/>
        <sp:OnlySignEntireHeadersAndBody/>
      </wsp:Policy>
    </sp:AsymmetricBinding>
    <sp:Wss10>
      <wsp:Policy>
        <sp:MustSupportRefKeyIdentifier/>
        <sp:MustSupportRefIssuerSerial/>
      </wsp:Policy>
    </sp:Wss10>
    <sp:SignedParts>
      <sp:Body/>
    </sp:SignedParts>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:be:fgov:ehealth:addressbook:protocol:v1" schemaLocation="ehealth-addressbook-protocol-1_1.xsd"/>
      <xsd:import namespace="urn:be:fgov:ehealth:errors:soa:v1" schemaLocation="../../../errors/soa/v1/ehealth-errors-schema-soa-1_1.xsd"/>
      <!--  xsd:import namespace="urn:be:fgov:ehealth:monitoring:protocol:v2" schemaLocation="../../ehealth-monitoring/XSD/ehealth-monitoring-schema-protocol-2_0.xsd"/-->
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetOrganizationContactInfoRequest">
    <wsdl:part name="body" element="addr:GetOrganizationContactInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="GetOrganizationContactInfoResponse">
    <wsdl:part name="body" element="addr:GetOrganizationContactInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetProfessionalContactInfoRequest">
    <wsdl:part name="body" element="addr:GetProfessionalContactInfoRequest"/>
  </wsdl:message>
  <wsdl:message name="GetProfessionalContactInfoResponse">
    <wsdl:part name="body" element="addr:GetProfessionalContactInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchProfessionalsRequest">
    <wsdl:part name="body" element="addr:SearchProfessionalsRequest"/>
  </wsdl:message>
  <wsdl:message name="SearchProfessionalsResponse">
    <wsdl:part name="body" element="addr:SearchProfessionalsResponse"/>
  </wsdl:message>
  <wsdl:message name="SearchOrganizationsRequest">
    <wsdl:part name="body" element="addr:SearchOrganizationsRequest"/>
  </wsdl:message>
  <wsdl:message name="SearchOrganizationsResponse">
    <wsdl:part name="body" element="addr:SearchOrganizationsResponse"/>
  </wsdl:message>
  <wsdl:message name="SystemError">
    <wsdl:part name="body" element="err:SystemError"/>
  </wsdl:message>
  <wsdl:message name="BusinessError">
    <wsdl:part name="body" element="err:BusinessError"/>
  </wsdl:message>
  <wsdl:portType name="AddressbookPortType">
    <wsdl:operation name="getOrganizationContactInfo">
      <wsdl:input message="GetOrganizationContactInfoRequest"/>
      <wsdl:output message="GetOrganizationContactInfoResponse"/>
      <wsdl:fault name="SystemError" message="SystemError"/>
      <wsdl:fault name="BusinessError" message="BusinessError"/>
    </wsdl:operation>
    <wsdl:operation name="getProfessionalContactInfo">
      <wsdl:input message="GetProfessionalContactInfoRequest"/>
      <wsdl:output message="GetProfessionalContactInfoResponse"/>
      <wsdl:fault name="SystemError" message="SystemError"/>
      <wsdl:fault name="BusinessError" message="BusinessError"/>
    </wsdl:operation>
    <wsdl:operation name="searchProfessionals">
      <wsdl:input message="SearchProfessionalsRequest"/>
      <wsdl:output message="SearchProfessionalsResponse"/>
      <wsdl:fault name="SystemError" message="SystemError"/>
      <wsdl:fault name="BusinessError" message="BusinessError"/>
    </wsdl:operation>
    <wsdl:operation name="searchOrganizations">
      <wsdl:input message="SearchOrganizationsRequest"/>
      <wsdl:output message="SearchOrganizationsResponse"/>
      <wsdl:fault name="SystemError" message="SystemError"/>
      <wsdl:fault name="BusinessError" message="BusinessError"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressbookSOAPBinding" type="AddressbookPortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProfessionalContactInfo">
      <soap11:operation soapAction="urn:be:fgov:ehealth:addressbook:protocol:v1:getProfessionalContactInfo" style="document"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <PolicyReference URI="#SAML_HOK" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemError">
        <soap11:fault name="SystemError" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessError">
        <soap11:fault name="BusinessError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationContactInfo">
      <soap11:operation soapAction="urn:be:fgov:ehealth:addressbook:protocol:v1:getOrganizationContactInfo" style="document"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <PolicyReference URI="#SAML_HOK" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemError">
        <soap11:fault name="SystemError" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessError">
        <soap11:fault name="BusinessError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchProfessionals">
      <soap11:operation soapAction="urn:be:fgov:ehealth:addressbook:protocol:v1:searchProfessionals" style="document"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <PolicyReference URI="#SAML_HOK" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemError">
        <soap11:fault name="SystemError" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessError">
        <soap11:fault name="BusinessError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchOrganizations">
      <soap11:operation soapAction="urn:be:fgov:ehealth:addressbook:protocol:v1:searchOrganizations" style="document"/>
      <wsdl:input>
        <soap11:body use="literal"/>
        <PolicyReference URI="#SAML_HOK" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemError">
        <soap11:fault name="SystemError" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BusinessError">
        <soap11:fault name="BusinessError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressbookService">
    <wsdl:port name="AddressbookSOAP11" binding="AddressbookSOAPBinding">
      <soap11:address location="https://services-acpt.ehealth.fgov.be/AddressBook/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>